@mixin center { 
    margin: 0 auto;
    @content;
}
// Margin mixin
@mixin margin($top: null, $left: null, $buttom: null, $right: null) {
    margin-top: $top;
    margin-left: $left;
    margin-bottom: $buttom;
    margin-right: $right;
}
@mixin displayNone {
    display: none;
}
@mixin li {
    text-decoration: none;
}

@mixin navItem {
    @include li;    
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    height: 50px;
    @content;
    
    
}
    


// Button mixins
@mixin button($color, $text-color){
    display: flex;
    width: 100%;
    background:$color;
    height: 50px; 
    color: $text-color;
    justify-content: center;    
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
    @content;   
}
