// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    @include flexy($flex-dir: column);
    

    // NOTE: replace with media query mixin if aiming for exceeds
    @include media (large) {
      @include flexy($flex-dir: row);
      
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns 
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include media (large) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include media (large) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}
.grid__col--3.theme__colors{
  @include theme-colors(map-get($grid, "3"));
  
}
.grid__col--4.theme__colors{
  @include theme-colors(map-get($grid, "4"));  
}
.grid__col--5.theme__colors{
  @include theme-colors(map-get($grid, "5"));  
}
.grid__col--6.theme__colors{
  @include theme-colors(map-get($grid, "6"));  
}
.grid__col--7.theme__colors{
  @include theme-colors(map-get($grid, "7"));  
}
.grid__col--8.theme__colors{
  @include theme-colors(map-get($grid, "8"));  
}
.grid__col--12.theme__colors{
  @include theme-colors(map-get($grid, "12"));
   
}
.grid__col--12{
  @media (min-width: $break-m){
  @include flexy;
  }
}

.centered{
  @include center;
}