
//.img--logo
//.img--frame
//.img--avatar

.img--logo{
    @include center;
    justify-content: center;
    width: 70%;
    @include flexy;
}

.img--frame{
    @include center;
    @include flexy;
    width: 80%;
    padding: 4.5%;
    border: 1px solid black;
    margin: 5%;    
}

.img--avatar{
    @include center;
    @include flexy;
    @include margin(5%, auto, 5%, auto);
    @include padding($top: 5%, $left: 5%, $buttom: 5%, $right: 5%);
    width: 40%;    
}