.nav{
    padding: 0;
}

.nav__item{
    @include navItem;
    a{width: 100%;
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        background: white;
        color: $text-primary;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;   
    }
    a:hover{
        width: 100%;
        display: flex; 
        background: $primary-color;
        color: white;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}