.nav{
    padding: 0;
    @media (min-width: $break-m) {
        display: flex;
        width: 90%;
        @include margin($left: 10%, $right:10%);        
    }
    
}

.nav__item{
    @include navItem;
    a{
        width: 100%;
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        background: white;
        color: $text-primary;
        @include center;
        @include alignCentar;  
    }
    a:hover{
        width: 100%;
        display: flex; 
        background: $primary-color;
        color: white;
        @include center;
        @include alignCentar;
        @include roundy;
    }
}