.nav{
    padding: 0;
    display: flex;
    width: 80%;
    margin-left:auto;
}

.nav__item{
    @include navItem;
    a{
        width: 100%;
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        background: white;
        color: $text-primary;
        @include center;
        @include alignCentar;  
    }
    a:hover{
        width: 100%;
        display: flex; 
        background: $primary-color;
        color: white;
        @include center;
        @include alignCentar;
        @include roundy;
    }
}